.create-playlist-form {
  display: flex;
  justify-content: center;
}

.form-playlist {
  min-width: 300px;
  width: 400px;
  margin-top: 24px;
}

.form-playlist__action {
  display: flex;
  justify-content: flex-end;
}

.form form-playlist {
  font-family: arial;
}

h2 {
  font-family: arial;
	color: rgba(23, 211, 39, 0.842);
}
